body{
    background-color:rgb(255, 255, 255);
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 5%;
    background: linear-gradient(rgb(30, 53, 31), 60%, rgb(255, 255, 255));
    background-image: url("./../images/abstract-6704211_1920.jpg");
    background-repeat:no-repeat;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif; */



}


