html{
    width:100%;
    height:100vh;
    margin-top: -0.4%;
    margin-left:-0.4%;
    overflow-x: hidden;
}
body{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
}


body>div{
    width:100%;
    height:100vh;

}

#premiere_vue{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#gauche{
    width:50%;
    height:100vh;
    opacity:0;
    animation : apparition 1s 0.1s ease-out forwards;
    transform:translateX(-50%);
}


video{
    width:100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}











#centre{
    flex:1;
    height:100vh;
    width:100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#centre_gauche, #centre_droite{
    width:20%;
    height:450px;
    right:-20%;
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position:fixed;
}

#centre_droite>div{
    height:12.5%;
    width:auto;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: flex-end; */
    
}
#centre_droite>div>a>div>img{
    height: 50%;
    width:auto;
    opacity:0px;
    animation : apparition 1s 0.1s ease-out forwards;
    transform:translateX(30%);
}

#centre_droite{
    align-items: end;
    
}
#centre_droite>div>a>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow:  0px 0px 50px rgb(86, 86, 87);
    height:60px;
    width:60px;
    opacity:0px;
    animation : apparition 1s 0.1s ease-out forwards;
    transform:translateX(40%);
    
}
#centre_droite>div>p{
    padding-left:5%;
    font-family: 'Great Vibes', cursive;
    font-size:3vmin;
    width:500px;
    padding-right: 500px;
    color: #213049;
    opacity:0;
    animation : apparition 0.8s 1s ease-out forwards;
}
#centre_droite>div>a{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    align-items: center;
}
#centre_droite>div>a>div:hover{
    cursor:pointer;
    background-color: rgb(172, 173, 180);
    transition-duration:300ms;
}


#presentation{
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    height:500px;
    width:400px;
    box-shadow:  0px 0px 60px 1px rgb(86, 86, 87);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:3%;
    opacity:0;
    animation : apparition 0.8s 1s ease-out forwards;
}

#nom{
    width:50%;
    margin-bottom: -20px;
    margin-top: 15px;
    text-align: center;
    font-size:50px;
}

#ligne{
    width:100%;
    text-align: center;
    
}

#metier{
    width:100%;
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
}

#reseaux_presentation{
    width:100%;
    height:50px;
    text-align: center;
    box-shadow:  0px 5px 30px rgb(86, 86, 87);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    color:white;
    background-color: rgb(33, 48, 73);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reseaux_presentation>a{
    width:50px;
    height:100%;
    display:flex;
    justify-content: center;
}

#linkedIn{
    background-image: url("./../images/linkedin\ \(9\).png");
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-origin: border-box;
    background-position: center;
    
    
}

#photo{
    box-shadow:  0px 0px 30px rgb(86, 86, 87);
    border-radius: 1000px;
    height:200px;
    width: 200px;
    background-image: url("./../images/image-background.PNG");
    
}













#droite{
    /* background-color: aqua; */
    width:50%;
    height:100vh;
    display:flex;
    align-items: center;
}



::-webkit-scrollbar{
    width:0.6em;
}

::-webkit-scrollbar-track{
    margin-block:.5em;
}

::-webkit-scrollbar-thumb{
    background-color: #213049;
    /* background: linear-gradient(transparent, #213049); */
    border-radius: 35px;
}

@keyframes apparition{
    100%{
        opacity:1;
        transform:none;
    }
}



@keyframes deplacement{
    from{

    }
}