html{
    width:102%;
    height:100vh;
    margin-top: -1.05%;
    margin-left:-1%;
    overflow-x: hidden;
}
body{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
}


body>div{
    width:100%;
    height:102vh;
    padding-left: 0.4%;

}

#premiere_vue{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#gauche{
    width:50%;
    height:100vh;
    /* background-color: black; */
}


video{
    width:100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}











#centre{
    
    flex:1;
    height:100vh;
    width:100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#centre_gauche, #centre_droite{
    width:5%;
    height:450px;
    /* background-color: aqua; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
#centre_droite>div{
    height:12.5%;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
#centre_droite>div>a>div>img{
    height: 50%;
    width:auto;
}

#centre_droite{
    align-items: end;
    
}
#centre_droite>div>a>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow:  0px 0px 50px rgb(86, 86, 87);
    height:60px;
    width:60px;
    
}

#centre_droite>div>a>div:hover{
    cursor:pointer;
    background-color: rgb(172, 173, 180);
    transition-duration:300ms;
}


#presentation{
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    height:500px;
    width:400px;
    box-shadow:  0px 0px 60px 1px rgb(86, 86, 87);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:3%;
}

#nom{
    width:50%;
    margin-bottom: -20px;
    margin-top: 15px;
    text-align: center;
    font-size:50px;
}

#ligne{
    width:100%;
    text-align: center;
    
}

#metier{
    width:100%;
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
}

#reseaux_presentation{
    width:100%;
    height:50px;
    text-align: center;
    box-shadow:  0px 5px 30px rgb(86, 86, 87);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    color:white;
    background-color: rgb(33, 48, 73);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reseaux_presentation>a{
    width:50px;
    height:100%;
    display:flex;
    justify-content: center;
}

#linkedIn{
    background-image: url("./../images/linkedin\ \(9\).png");
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-origin: border-box;
    background-position: center;
    
    
}

#photo{
    box-shadow:  0px 0px 30px rgb(86, 86, 87);
    border-radius: 1000px;
    height:200px;
    width: 200px;
    background-image: url("./../images/image-background.PNG");
    
}













#droite{
    /* background-color: aqua; */
    width:50%;
    height:100vh;
    display:flex;
    align-items: center;
}

#descriptions{
    padding-left:2%;
    width:20%;
    height:425px;
    font-family: 'Great Vibes', cursive;
    font-size:3vmin;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


#descriptions>p{
    padding:0px;
    margin:0px;
    top:0%;
    color:#213049
}

::-webkit-scrollbar{
    width:0.5em;
}

::-webkit-scrollbar-track{
    margin-block:.5em;
}

::-webkit-scrollbar-thumb{
    /* background-color: aqua; */
    background: linear-gradient(transparent, #213049);
    border-radius: 35px;
}




