body{
    background-color:rgb(255, 255, 255);
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif; */



}

#vue_accueil>#presentation>h1{
    font-weight: none;
    font-size: 85px;
}

#vue_accueil{
    background-color: rgb(255, 255, 255);
}

#vue_accueil>#presentation>p{
    font-family: 'Playfair Display', serif;
}
